<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="All Test Suite">
        <classes>
            <class name="TestScenarios.MSANLeasedLine.HappyScenario">
            </class>
            <class name="TestScenarios.MSANLeasedLine.HappyScenarioCables"></class>
            <class name="TestScenarios.MSANLeasedLine.TeamLeaderClosefromFME"></class>
            <class name="TestScenarios.MSANLeasedLine.TLcloseFromFMEtaskFail"></class>
        </classes>
       
    </test>
</suite>